div[class^="Tile-"] {
  background-color: peachpuff;
  color: peachpuff;
  flex: 1 0 25%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid darkgray;
  font-size: 4em;
  height: 100px;
  width: 100px;
  padding-bottom: 0.4em;
  cursor: pointer;
  transition: background-color 2s;
}
.Tile-dead {
  background-color: darkslateblue !important;
  color: darkslateblue !important;
}
.Tile-exposed {
  background-color: peachpuff !important;
  color: #111 !important;
}
